<a href="https://colab.research.google.com/github/brotheroak/artificialintelligencemachinesystem/blob/master/Class2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a = 10
b = 20
c = 30

a==b

False

In [8]:
a = 1
b = 2
c = 10
if(a==1):
  print("a is 1")
if(b==2):
  print("b is 2")

a is 1
b is 2

In [12]:
a = 10
b = 20
if a>10 or b >10:
  print(a,b)
else:
  print("NO result")

(10, 20)

In [14]:
a = 30
if a<=10:
  print("a는 숫자 10보다 작습니다.")
elif 10<a<=30:
  print("a는 숫자 11-30사이 입니다.")
else:
  print("a는 숫자 30보다 큽니다.")

a는 숫자 11-30사이 입니다.

In [25]:
a = 10
while(a > 0):
  print('%d를 출력합니다.' %a)
  a -= 1

10를 출력합니다.
9를 출력합니다.
8를 출력합니다.
7를 출력합니다.
6를 출력합니다.
5를 출력합니다.
4를 출력합니다.
3를 출력합니다.
2를 출력합니다.
1를 출력합니다.

In [30]:
a = 0
while True:
  a += 1
  if (a%2 == 0):
    continue
  print("a는 홀수 %d입니다."%a)
  if a == 9:
    break

a는 홀수 1입니다.
a는 홀수 3입니다.
a는 홀수 5입니다.
a는 홀수 7입니다.
a는 홀수 9입니다.

In [40]:
a=[1,2,3,"a","b",4]
b=10
for i in range(len(a)):
  print(a[i], b)
  b+=1

(1, 10)
(2, 11)
(3, 12)
('a', 13)
('b', 14)
(4, 15)

In [34]:
for i in range(10):
  print(i, i+2)

(0, 2)
(1, 3)
(2, 4)
(3, 5)
(4, 6)
(5, 7)
(6, 8)
(7, 9)
(8, 10)
(9, 11)

In [42]:
def sum(a, b):
  return a + b

print(sum(10,2))

12

In [67]:
def find_prime_num(x):
  for i in range(2,x):
    default=1
    for j in range(2,i):
      if i%j==0 and j!= 1:
        default=0
    if default==1:
      print(i)
      
a = input()
find_prime_num(a)

10
2
3
5
7

In [73]:
print(type("a"))
print(type(1))
print(type(1.2))
print(type([1,2,3,4]))
print(type(True))

a = '123'
print(type(a))

print(type(int(a)))

<type 'str'>
<type 'int'>
<type 'float'>
<type 'list'>
<type 'bool'>
<type 'str'>
<type 'int'>